<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Using a custom control - Catel documentation</title>
    <link rel="shortcut icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="../../../../css/theme.css" type="text/css" />
    <link rel="stylesheet" href="../../../../css/theme_colors.css" type="text/css" />
    <link rel="stylesheet" href="../../../../css/styles/vs.css">
    <link rel="stylesheet" href="../../../../css/font-awesome.4.5.0.min.css">
</head>
<body role="document">
    <div class="grid-for-nav">
        <nav data-toggle="nav-shift" class="nav-side stickynav">
            <div class="side-nav-search">
                <a href="../../../../index.htm"><i class="fa fa-home"></i> Catel documentation</a>
                <div role="search">
                    <form id="search-form" class="form" action="../../../../Docnet_search.htm" method="get">
                        <input type="text" name="q" placeholder="Search docs" />
                    </form>
                </div>
            </div>
            <div class="menu menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
<ul>
<li class="tocentry"><a href="../../../../Home.htm">Home</a>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../introduction/index.htm">Introduction</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../faq/index.htm">FAQ</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../setup-deployment/index.htm">Setup, deployment & projects</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../getting-started/index.htm">Getting started</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-core/index.htm">Catel.Core</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../../CatelMVVM.htm">Catel.MVVM</a></span></li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/auditing/index.htm">Auditing</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/behaviors-triggers/index.htm">Behaviors & triggers</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/bindings/index.htm">Bindings</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/commands-events/index.htm">Commands & events</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/converters/index.htm">Converters</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/designers/index.htm">Designers</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/locators-naming-conventions/index.htm">Locators & naming conventions</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/services/index.htm">Services</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/view-models/index.htm">View models</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../../catel-mvvm/views/index.htm">Views</a></span></li>

<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../../catel-mvvm/views/xaml/index.htm">XAML</a></span></li>

<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/window-and-datawindow.htm">Window and DataWindow</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/usercontrol.htm">UserControl</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/usercontrol-resources.htm">UserControl Resources</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/mvvm-behaviors.htm">MVVM behaviors</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/validation-controls.htm">Validation controls</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/customizing-datacontext-subscription-behavior.htm">Customizing DataContext subscription behavior</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/improving-performance-by-defining-view-model-grid-manually.htm">Improving performance by defining the view model grid manually</a>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../../catel-mvvm/views/xaml/external-controls/index.htm">External controls</a></span></li>

<li class="tocentry current"><a class="current" href="../../../../catel-mvvm/views/xaml/external-controls/using-custom-control.htm">Using a custom control</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/external-controls/using-custom-window.htm">Using a custom window</a>
</li>
</ul>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/views/xaml/advanced/index.htm">Advanced</a></span>
</li>
</ul>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/views/xamarin-forms/index.htm">Xamarin.Forms</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/views/xamarin-android/index.htm">Xamarin.Android</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../catel-mvvm/views/xamarin-ios/index.htm">Xamarin.iOS</a></span>
</li>
</ul>
</li>

</ul>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../tips-tricks/index.htm">Tips & tricks</a></span>
</li>

</ul>
				<div class="toc-footer">
					<span class="text-small">
						<hr/>
						<a href="https://github.com/FransBouma/DocNet" target="_blank">Made with <i class="fa fa-github"></i> DocNet</a>
					</span>
				</div>	
			</div>
            &nbsp;
        </nav>
        <section data-toggle="nav-shift" class="nav-content-wrap">
            <nav class="nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="nav-top" class="fa fa-bars"></i>
                <a href="../../../../index.htm">Catel documentation</a>
            </nav>
            <div class="nav-content">
                <div role="navigation" aria-label="breadcrumbs navigation">
                    <div class="breadcrumbs">
<ul><li><a href="../../../../Home.htm">Home</a></li> / <li><a href="../../../../CatelMVVM.htm">Catel.MVVM</a></li> / <li><a href="../../../../catel-mvvm/views/index.htm">Views</a></li> / <li><a href="../../../../catel-mvvm/views/xaml/index.htm">XAML</a></li> / <li><a href="../../../../catel-mvvm/views/xaml/external-controls/index.htm">External controls</a></li> / <li><a href="../../../../catel-mvvm/views/xaml/external-controls/using-custom-control.htm">Using a custom control</a></li></ul>
					
                    </div>
                    <hr />
                </div>
                <div role="main">
                    <div class="section">
<h1 id="using-a-custom-control">Using a custom control<a class="headerlink" href="#using-a-custom-control" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h1>
<p>In this part of the documentation, the <em>RadTabItem</em> of Telerik will be used as an example on how to create a <em>RadTabItem</em> that behaves like the <em>UserControl</em>.</p>
<ul>
<li><a href="#Usingacustomcontrol-Creatingthebaseclasswithbehavior">Creating the base class with behavior</a></li>
<li><a href="#Usingacustomcontrol-Usingtheclass">Using the class</a></li>
</ul>
<h1 id="creating-the-base-class-with-behavior">Creating the base class with behavior<a class="headerlink" href="#creating-the-base-class-with-behavior" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h1>
<p>The first thing to do is to create a new base class that accepts a view model type argument. In this example, we will call it <em>TabItem</em> (to make it as &quot;external control company independent&quot; as possible). Below is the code for the control definition. The downside of xaml based applications is that you cannot derive from controls or windows that have a partial class defined in xaml. Therefore, all controls and code must be initialized via code as you can see in the code below.</p>
<pre class="nocode">{.java data-syntaxhighlighter-params=&quot;brush: java; gutter: false; theme: Confluence&quot; data-theme=&quot;Confluence&quot; style=&quot;brush: java; gutter: false; theme: Confluence&quot;}
/// &lt;summary&gt;
/// Base class for a control with the Catel mvvm behavior.
/// &lt;/summary&gt;
public class TabItem : RadTabItem, IUserControl
{
   private readonly UserControlLogic _logic;

   private event EventHandler&lt;EventArgs&gt; _viewLoaded;
   private event EventHandler&lt;EventArgs&gt; _viewUnloaded;
   private event EventHandler&lt;Catel.MVVM.Views.DataContextChangedEventArgs&gt; _viewDataContextChanged;
 
   /// &lt;summary&gt;
   /// Initializes a new instance of the &lt;see cref=&quot;TabItem&quot;/&gt; class.
   /// &lt;/summary&gt;
   public TabItem()
   {
      _logic = new UserControlLogic(this, viewModelType);
      _logic.PropertyChanged += (sender, e) =&gt; PropertyChanged.SafeInvoke(this, e);

      Loaded += (sender, e) =&gt; _viewLoaded.SafeInvoke(this);
      Unloaded += (sender, e) =&gt; _viewUnloaded.SafeInvoke(this);
      this.AddDataContextChangedHandler((sender, e) =&gt; _viewDataContextChanged.SafeInvoke(this, new Catel.MVVM.Views.DataContextChangedEventArgs(e.OldValue, e.NewValue)));

      SetBinding(RadTabItem.HeaderProperty, new Binding(&quot;Title&quot;));
   }

   /// &lt;summary&gt;
   /// Gets the view model that is contained by the container.
   /// &lt;/summary&gt;
   /// &lt;value&gt;The view model.&lt;/value&gt;
   public IViewModel ViewModel
   {
      get { return _logic.ViewModel; }
   }

   /// &lt;summary&gt;
   /// Occurs when a property on the container has changed.
   /// &lt;/summary&gt;
   /// &lt;remarks&gt;
   /// This event makes it possible to externally subscribe to property changes of a &lt;see cref=&quot;DependencyObject&quot;/&gt;
   /// (mostly the container of a view model) because the .NET Framework does not allows us to.
   /// &lt;/remarks&gt;
   public event PropertyChangedEventHandler PropertyChanged;    
 
    /// &lt;summary&gt;
    /// Occurs when the view is loaded.
    /// &lt;/summary&gt;
    event EventHandler&lt;EventArgs&gt; IView.Loaded
    {
        add { _viewLoaded += value; }
        remove { _viewLoaded -= value; }
    }

    /// &lt;summary&gt;
    /// Occurs when the view is unloaded.
    /// &lt;/summary&gt;
    event EventHandler&lt;EventArgs&gt; IView.Unloaded
    {
        add { _viewUnloaded += value; }
        remove { _viewUnloaded -= value; }
    }

    /// &lt;summary&gt;
    /// Occurs when the data context has changed.
    /// &lt;/summary&gt;
    event EventHandler&lt;Catel.MVVM.Views.DataContextChangedEventArgs&gt; IView.DataContextChanged
    {
        add { _viewDataContextChanged += value; }
        remove { _viewDataContextChanged -= value; }
    }
}
</pre><p>You would expect an abstract class here, but the designers (both Visual Studio and Expression Blend) can't handle abstract base classes</p>
<h1 id="using-the-class">Using the class<a class="headerlink" href="#using-the-class" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h1>
<p>The class can now be used the same as the <em>UserControl</em> class. For more information, see <em>UserControl explained</em>.</p>

                    </div>
                </div>
                <footer>
                    <hr />
                    <div role="contentinfo">

                    </div>
                </footer>
            </div>
        </section>
    </div>
    <script src="../../../../js/jquery-2.1.1.min.js"></script>
    <script src="../../../../js/modernizr-2.8.3.min.js"></script>
    <script src="../../../../js/highlight.pack.js"></script>
    <script src="../../../../js/theme.js"></script>

</body>
</html>
