<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UserControl - under the hood - Catel documentation</title>
    <link rel="shortcut icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="../../../../css/theme.css" type="text/css" />
    <link rel="stylesheet" href="../../../../css/theme_colors.css" type="text/css" />
    <link rel="stylesheet" href="../../../../css/styles/vs.css">
    <link rel="stylesheet" href="../../../../css/font-awesome.4.5.0.min.css">
</head>
<body role="document">
    <div class="grid-for-nav">
        <nav data-toggle="nav-shift" class="nav-side stickynav">
            <div class="side-nav-search">
                <a href="../../../../index.htm"><i class="fa fa-home"></i> Catel documentation</a>
                <div role="search">
                    <form id="search-form" class="form" action="../../../../Docnet_search.htm" method="get">
                        <input type="text" name="q" placeholder="Search docs" />
                    </form>
                </div>
            </div>
            <div class="menu menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
<ul>
<li class="tocentry"><a href="../../../../Home.htm">Home</a>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Introduction.htm">Introduction</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../FAQ.htm">FAQ</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Setup,deployment&projects.htm">Setup, deployment & projects</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Gettingstarted.htm">Getting started</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Examples.htm">Examples</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../CatelCore.htm">Catel.Core</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../../CatelMVVM.htm">Catel.MVVM</a></span></li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Auditing.htm">Auditing</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Behaviors&triggers.htm">Behaviors & triggers</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Bindings.htm">Bindings</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Commands&events.htm">Commands & events</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Converters.htm">Converters</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Designers.htm">Designers</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Locators&namingconventions.htm">Locators & naming conventions</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Services.htm">Services</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Viewmodels.htm">View models</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../../Views.htm">Views</a></span></li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../../XAML.htm">XAML</a></span></li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/window-and-datawindow.htm">Window and DataWindow</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/usercontrol.htm">UserControl</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/usercontrol-resources.htm">UserControl Resources</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/mvvm-behaviors.htm">MVVM behaviors</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/validation-controls.htm">Validation controls</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/customizing-datacontext-subscription-behavior.htm">Customizing DataContext subscription behavior</a>
</li>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/improving-performance-by-defining-view-model-grid-manually.htm">Improving performance by defining the view model grid manually</a>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../Externalcontrols.htm">External controls</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../../Advanced.htm">Advanced</a></span></li>
<li class="tocentry current"><a class="current" href="../../../../catel-mvvm/views/xaml/advanced/usercontrol-under-the-hood.htm">UserControl - under the hood</a>
<ul class="currentrelative">
<li class="tocentry"><a href="#managing-the-custom-datacontext">Managing the custom DataContext</a></li>
<li class="tocentry"><a href="#main-flow">Main flow</a></li>
<li class="tocentry"><a href="#loaded">Loaded</a></li>
<li class="tocentry"><a href="#unloaded">Unloaded</a></li>
<li class="tocentry"><a href="#datacontextchanged">DataContextChanged</a></li>
<li class="tocentry"><a href="#determinedatacontext">DetermineDataContext</a></li>
<li class="tocentry"><a href="#attachments">Attachments:</a></li>
</ul>
<li class="tocentry"><a href="../../../../catel-mvvm/views/xaml/advanced/datawindow-under-the-hood.htm">DataWindow - under the hood</a>
</li>

</ul>
</li>

</ul>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../XamarinForms.htm">Xamarin.Forms</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../XamarinAndroid.htm">Xamarin.Android</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../XamariniOS.htm">Xamarin.iOS</a></span>
</li>

</ul>
</li>

</ul>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../../tips-tricks/index.htm">Tips & tricks</a></span>
</li>

</ul>
				<div class="toc-footer">
					<span class="text-small">
						<hr/>
						<a href="https://github.com/FransBouma/DocNet" target="_blank">Made with <i class="fa fa-github"></i> DocNet</a>
					</span>
				</div>	
			</div>
            &nbsp;
        </nav>
        <section data-toggle="nav-shift" class="nav-content-wrap">
            <nav class="nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="nav-top" class="fa fa-bars"></i>
                <a href="../../../../index.htm">Catel documentation</a>
            </nav>
            <div class="nav-content">
                <div role="navigation" aria-label="breadcrumbs navigation">
                    <div class="breadcrumbs">
<ul><li><a href="../../../../Home.htm">Home</a></li> / <li><a href="../../../../CatelMVVM.htm">Catel.MVVM</a></li> / <li><a href="../../../../Views.htm">Views</a></li> / <li><a href="../../../../XAML.htm">XAML</a></li> / <li><a href="../../../../Advanced.htm">Advanced</a></li> / <li><a href="../../../../catel-mvvm/views/xaml/advanced/usercontrol-under-the-hood.htm">UserControl - under the hood</a></li></ul>
					
                    </div>
                    <hr />
                </div>
                <div role="main">
                    <div class="section">
<h1 id="usercontrol---under-the-hood">UserControl - under the hood<a class="headerlink" href="#usercontrol---under-the-hood" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h1>
<p>The <em>UserControl</em> is a pretty sophisticated class. In this part of the documentation, the inner workings of the control are explained. What better way is there than to using flowcharts. There are a few events very important for the inner workings of the user control. The flowcharts are created per event.</p>
<p>Keep in mind that the actual logic is implemented in the <em>UserControlLogic</em>, which is used by the <em>UserControl</em>. This way, the logic can be used by any user control via the <em>UserControlBehavior</em>.</p>
<h2 id="managing-the-custom-datacontext">Managing the custom DataContext<a class="headerlink" href="#managing-the-custom-datacontext" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>The <em>UserControl</em> logic uses an additional layer to customize the DataContext. Below is a graphical representation of how it works.</p>
<p>Another view can be found in the image below:</p>
<h2 id="main-flow">Main flow<a class="headerlink" href="#main-flow" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>The following flowchart shows what happens with a user control in the main flow (the startup). First, it checks whether the user control is loaded (which is not in a normal case). If the control is loaded, it goes directly to determining the datacontext. Otherwise, it will postpone the action until the <em>Loaded</em> event. </p>
<h2 id="loaded">Loaded<a class="headerlink" href="#loaded" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>When the control is loaded, it starts checking for the first time whether the current datacontext can be used to create a view model. But, before it does this, it checks whether it should (and can) re-use an existing view model. To control whether view models should be re-used, use the <em>CloseViewModelOnUnloaded</em> property.</p>
<p>If a view model can and should be re-used, it sets the view model as data context and that's it. If there is no view model, or the previous view model should not be re-used, the control continues to determine the datacontext.</p>
<h2 id="unloaded">Unloaded<a class="headerlink" href="#unloaded" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>Another event that is very important is the <em>Unloaded</em> event. In this event, the control either cleans up the view model or stores it so it can be re-used later. Then, it also restores the old datacontext so it never breaks existing application bindings. This way, the control won't leave any traces behind.</p>
<h2 id="datacontextchanged">DataContextChanged<a class="headerlink" href="#datacontextchanged" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>The <em>DataContextChanged</em> event is used to react to changes of the datacontext. You might be thinking: &quot;there is no <em>DataContextChanged</em> event in Silverlight&quot;. We use the <em>DataContextHelper</em> class for that. If the new datacontext is new (thus not a view model that the control just set itself), it it continues to determine the datacontext. Otherwise, it will not take any action.</p>
<h2 id="determinedatacontext">DetermineDataContext<a class="headerlink" href="#determinedatacontext" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>All other flowcharts eventually led to this flowchart, the determination of the datacontext. The determination of the datacontext is very important, because this is the moment where the user control transforms the datacontext into a new view model if possible. First it tries is to construct the view model with the datacontext. So, if the datacontext is an object of type Person, and the view model of the user control has a constructor that accepts a Person object, it injects the datacontext into the constructor of the view model. If that fails, or there is simply no constructor, the control checks whether the view model has an empty constructor. If so, it constructs the view model and sets it as the new datacontext. If not, it will leave the datacontext untouched.</p>
<p>Basically, this is all that happens on a higher level to transform a datacontext into a view model. Under the hood, it's a bit more complicated but again, on a higher level this is what happens.</p>
<h2 id="attachments">Attachments:<a class="headerlink" href="#attachments" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p><img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621443">UserControl_injectedgrid</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621444.png">UserControl_injectedgrid.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621447">UserControl_injectedgrid</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621448.png">UserControl_injectedgrid.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621451">UserControl_layered</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621452.png">UserControl_layered.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621449">UserControl_injectedgrid</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621450.png">UserControl_injectedgrid.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621441">UserControl_injectedgrid</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621442.png">UserControl_injectedgrid.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621445">UserControl_layered</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621446.png">UserControl_layered.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621455">UserControl_mainflow</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621456.png">UserControl_mainflow.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621457">UserControl_mainflow</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621458.png">UserControl_mainflow.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621459">UserControl_mainflow</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621460.png">UserControl_mainflow.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621453">UserControl_mainflow</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621454.png">UserControl_mainflow.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621461">UserControl_loaded</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621462.png">UserControl_loaded.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621465">UserControl_unloaded</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621466.png">UserControl_unloaded.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621463">UserControl_unloaded</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621464.png">UserControl_unloaded.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621467">UserControl_DataContextChanged</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621468.png">UserControl_DataContextChanged.png</a> (image/png)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621469">UserControl_determinedatacontext</a> (application/gliffy+json)
 <img src="images/icons/bullet_blue.gif" /> <a href="attachments/1900590/2621470.png">UserControl_determinedatacontext.png</a> (image/png)</p>

                    </div>
                </div>
                <footer>
                    <hr />
                    <div role="contentinfo">

                    </div>
                </footer>
            </div>
        </section>
    </div>
    <script src="../../../../js/jquery-2.1.1.min.js"></script>
    <script src="../../../../js/modernizr-2.8.3.min.js"></script>
    <script src="../../../../js/highlight.pack.js"></script>
    <script src="../../../../js/theme.js"></script>

</body>
</html>
