<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Activities (pages) - Catel documentation</title>
    <link rel="shortcut icon" href="../../../favicon.ico">
    <link rel="stylesheet" href="../../../css/theme.css" type="text/css" />
    <link rel="stylesheet" href="../../../css/theme_colors.css" type="text/css" />
    <link rel="stylesheet" href="../../../css/styles/vs.css">
    <link rel="stylesheet" href="../../../css/font-awesome.4.5.0.min.css">
</head>
<body role="document">
    <div class="grid-for-nav">
        <nav data-toggle="nav-shift" class="nav-side stickynav">
            <div class="side-nav-search">
                <a href="../../../index.htm"><i class="fa fa-home"></i> Catel documentation</a>
                <div role="search">
                    <form id="search-form" class="form" action="../../../Docnet_search.htm" method="get">
                        <input type="text" name="q" placeholder="Search docs" />
                    </form>
                </div>
            </div>
            <div class="menu menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
<ul>
<li class="tocentry"><a href="../../../Home.htm">Home</a>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../introduction/index.htm">Introduction</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../faq/index.htm">FAQ</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../setup-deployment/index.htm">Setup, deployment & projects</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../getting-started/index.htm">Getting started</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../examples/index.htm">Examples</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../CatelCore.htm">Catel.Core</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../CatelMVVM.htm">Catel.MVVM</a></span></li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/auditing/index.htm">Auditing</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/behaviors-triggers/index.htm">Behaviors & triggers</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/bindings/index.htm">Bindings</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/commands-events/index.htm">Commands & events</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/converters/index.htm">Converters</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/designers/index.htm">Designers</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/locators-naming-conventions/index.htm">Locators & naming conventions</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/services/index.htm">Services</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/view-models/index.htm">View models</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../Views.htm">Views</a></span></li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/views/xaml/index.htm">XAML</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/views/xamarin-forms/index.htm">Xamarin.Forms</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../catel-mvvm/views/xamarin-android/index.htm">Xamarin.Android</a></span></li>
<li class="tocentry"><a href="../../../catel-mvvm/views/xamarin-android/introduction.htm">Introduction</a>
</li>
<li class="tocentry current"><a class="current" href="../../../catel-mvvm/views/xamarin-android/activities-pages.htm">Activities (pages)</a>
<ul class="currentrelative">
<li class="tocentry"><a href="#creating-the-view-model">Creating the view model</a></li>
<li class="tocentry"><a href="#creating-the-view">Creating the view</a></li>
<li class="tocentry"><a href="#designing-the-view">Designing the view</a></li>
<li class="tocentry"><a href="#setting-up-synchronization">Setting up synchronization</a></li>
</ul>
<li class="tocentry"><a href="../../../catel-mvvm/views/xamarin-android/fragments-user-controls.htm">Fragments (user controls)</a>
</li>

</ul>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/views/xamarin-ios/index.htm">Xamarin.iOS</a></span>
</li>

</ul>
</li>

</ul>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-fody/index.htm">Catel.Fody</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-resharper/index.htm">Catel.ReSharper</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../tips-tricks/index.htm">Tips & tricks</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../APIreference.htm">API reference</a></span>
</li>

</ul>
				<div class="toc-footer">
					<span class="text-small">
						<hr/>
						<a href="https://github.com/FransBouma/DocNet" target="_blank">Made with <i class="fa fa-github"></i> DocNet</a>
					</span>
				</div>	
			</div>
            &nbsp;
        </nav>
        <section data-toggle="nav-shift" class="nav-content-wrap">
            <nav class="nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="nav-top" class="fa fa-bars"></i>
                <a href="../../../index.htm">Catel documentation</a>
            </nav>
            <div class="nav-content">
                <div role="navigation" aria-label="breadcrumbs navigation">
                    <div class="breadcrumbs">
<ul><li><a href="../../../Home.htm">Home</a></li> / <li><a href="../../../CatelMVVM.htm">Catel.MVVM</a></li> / <li><a href="../../../Views.htm">Views</a></li> / <li><a href="../../../catel-mvvm/views/xamarin-android/index.htm">Xamarin.Android</a></li> / <li><a href="../../../catel-mvvm/views/xamarin-android/activities-pages.htm">Activities (pages)</a></li></ul>
					
                    </div>
                    <hr />
                </div>
                <div role="main">
                    <div class="section">
<h1 id="activities-pages">Activities (pages)<a class="headerlink" href="#activities-pages" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h1>
<p>The user controls in Android are called fragments. This means that if a user control must be created, it must derive from the <code>Fragment</code> class. Catel provides a base implementation of this class to ensure full compatibility with the MVVM framework that ships with Catel.</p>
<h2 id="creating-the-view-model">Creating the view model<a class="headerlink" href="#creating-the-view-model" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>The view model can be created (or added as a linked file from another project) just like any platform using Catel (they are all equal on all platforms).</p>
<h2 id="creating-the-view">Creating the view<a class="headerlink" href="#creating-the-view" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>Make sure that a <code>Views</code> folder exists in the project so the views and view models can automatically be hooked together by Catel. Then create a new class to the views folder, in this case <code>MainActivity</code>:</p>
<pre class="nocode">[Activity(MainLauncher = true)]
public class MainActivity : Catel.Android.App.Activity
{
    protected override void OnCreate(Bundle bundle)
    {
        base.OnCreate(bundle);

        // Set our view from the &quot;main&quot; layout resource
        SetContentView(Resource.Layout.Page_Main);
    }
}
</pre><div class="alert alert-warning"><span class="alert-title"><i class="fa fa-warning"></i> Important!</span><p>Note that the class derives from <em>Catel.Android.App.Activity</em></p>
</div><h2 id="designing-the-view">Designing the view<a class="headerlink" href="#designing-the-view" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>To create the actual user interface of the fragment, add a new <code>xaml</code> file to the <code>Resources/layout</code> folder, in your case <code>Page\_Main</code> (but you can name it whatever you want). Then use the following source:</p>
<pre class="nocode">&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    android:orientation=&quot;vertical&quot;
    android:layout_width=&quot;fill_parent&quot;
    android:layout_height=&quot;fill_parent&quot;&gt;
    &lt;Button
        android:id=&quot;@+id/MyButton&quot;
        android:layout_width=&quot;fill_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:text=&quot;@string/Hello&quot; /&gt;
&lt;/LinearLayout&gt;
</pre><h2 id="setting-up-synchronization">Setting up synchronization<a class="headerlink" href="#setting-up-synchronization" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p>In Android it is required to manually synchronize the values between the view and view model. Below is the fully extended <code>MainActivity</code> class containing these mapping functionality:</p>
<pre class="nocode">[Activity(MainLauncher = true)]
public class MainActivity : Catel.Android.App.Activity
{
    private Button _testButton;
    
    protected override void OnCreate(Bundle bundle)
    {
        base.OnCreate(bundle);

        // Set our view from the &quot;main&quot; layout resource
        SetContentView(Resource.Layout.Page_Main);

        // Note: at this stage the visual tree is guaranteed in Android
        _testButton = FindViewById&lt;Button&gt;(Resource.Id.MyButton);
        _testButton.Click += delegate { GetViewModel&lt;MainViewModel&gt;().RunCommand.Execute(); };
    }

    protected override void SyncViewModel()
    {
        var vm = GetViewModel&lt;MainViewModel&gt;();
        if (vm == null)
        {
            return;
        }

        Title = vm.Title;
        _testButton.Text = string.Format(&quot;{0} clicks!&quot;, vm.Counter);
    }
}
</pre>
                    </div>
                </div>
                <footer>
                    <hr />
                    <div role="contentinfo">

                      <p>Is this section not up-to-date or found an issue? Please <a href="https://github.com/Catel/catel.github.io/blob/master/src/../src/vnext/catel-mvvm/views/xamarin-android/activities-pages.md" target="_blank">contribute</a>!</p>
                    </div>
                </footer>
            </div>
        </section>
    </div>
    <script src="../../../js/jquery-2.1.1.min.js"></script>
    <script src="../../../js/modernizr-2.8.3.min.js"></script>
    <script src="../../../js/highlight.pack.js"></script>
    <script src="../../../js/theme.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-25600919-4', 'auto');
      ga('send', 'pageview');
    
    </script>
</body>
</html>
