<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Xamarin.Android - Catel documentation</title>
    <link rel="shortcut icon" href="../../../favicon.ico">
    <link rel="stylesheet" href="../../../css/theme.css" type="text/css" />
    <link rel="stylesheet" href="../../../css/theme_colors.css" type="text/css" />
    <link rel="stylesheet" href="../../../css/styles/vs.css">
    <link rel="stylesheet" href="../../../css/font-awesome.4.5.0.min.css">
</head>
<body role="document">
    <div class="grid-for-nav">
        <nav data-toggle="nav-shift" class="nav-side stickynav">
            <div class="side-nav-search">
                <a href="../../../index.htm"><i class="fa fa-home"></i> Catel documentation</a>
                <div role="search">
                    <form id="search-form" class="form" action="../../../Docnet_search.htm" method="get">
                        <input type="text" name="q" placeholder="Search docs" />
                    </form>
                </div>
            </div>
            <div class="menu menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
<ul>
<li class="tocentry"><a href="../../../Home.htm">Home</a>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../Introduction.htm">Introduction</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../FAQ.htm">FAQ</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../Setup,deployment&projects.htm">Setup, deployment & projects</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../Gettingstarted.htm">Getting started</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../Examples.htm">Examples</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../CatelCore.htm">Catel.Core</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../CatelMVVM.htm">Catel.MVVM</a></span></li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/auditing/index.htm">Auditing</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/behaviors-triggers/index.htm">Behaviors & triggers</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/bindings/index.htm">Bindings</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/commands-events/index.htm">Commands & events</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/converters/index.htm">Converters</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/designers/index.htm">Designers</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/locators-naming-conventions/index.htm">Locators & naming conventions</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/services/index.htm">Services</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/view-models/index.htm">View models</a></span>
</li>
<li class="tocentry">
<ul>
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../catel-mvvm/views/index.htm">Views</a></span></li>

<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/views/xaml/index.htm">XAML</a></span>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/views/xamarin-forms/index.htm">Xamarin.Forms</a></span>
</li>
<li class="tocentry">
<ul class="current">
<li><span class="navigationgroup"><i class="fa fa-caret-down"></i> <a href="../../../catel-mvvm/views/xamarin-android/index.htm">Xamarin.Android</a></span></li>

<li class="tocentry"><a href="../../../catel-mvvm/views/xamarin-android/activities-pages.htm">Activities (pages)</a>
</li>
<li class="tocentry"><a href="../../../catel-mvvm/views/xamarin-android/fragments-user-controls.htm">Fragments (user controls)</a>
</li>
</ul>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../catel-mvvm/views/xamarin-ios/index.htm">Xamarin.iOS</a></span>
</li>
</ul>
</li>

</ul>
</li>
<li class="tocentry">
<span class="navigationgroup"><i class="fa fa-caret-right"></i> <a href="../../../tips-tricks/index.htm">Tips & tricks</a></span>
</li>

</ul>
				<div class="toc-footer">
					<span class="text-small">
						<hr/>
						<a href="https://github.com/FransBouma/DocNet" target="_blank">Made with <i class="fa fa-github"></i> DocNet</a>
					</span>
				</div>	
			</div>
            &nbsp;
        </nav>
        <section data-toggle="nav-shift" class="nav-content-wrap">
            <nav class="nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="nav-top" class="fa fa-bars"></i>
                <a href="../../../index.htm">Catel documentation</a>
            </nav>
            <div class="nav-content">
                <div role="navigation" aria-label="breadcrumbs navigation">
                    <div class="breadcrumbs">
<ul><li><a href="../../../Home.htm">Home</a></li> / <li><a href="../../../CatelMVVM.htm">Catel.MVVM</a></li> / <li><a href="../../../catel-mvvm/views/index.htm">Views</a></li> / <li><a href="../../../catel-mvvm/views/xamarin-android/index.htm">Xamarin.Android</a></li></ul>
					
                    </div>
                    <hr />
                </div>
                <div role="main">
                    <div class="section">
<h1 id="xamarin.android">Xamarin.Android<a class="headerlink" href="#xamarin.android" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h1>
<ul>
<li>
<a href="#Xamarin.Android-Bindings">Bindings</a>
<ul>
<li><a href="#Xamarin.Android-Bindingproperties">Binding properties</a></li>
<li><a href="#Xamarin.Android-Bindingpropertieswithevents">Binding properties with events</a></li>
<li><a href="#Xamarin.Android-Bindingpropertieswithconverters">Binding properties with converters</a></li>
<li><a href="#Xamarin.Android-Bindingcommands">Binding commands</a></li>
</ul>
</li>
</ul>
<p>You might also be interested in:</p>
<ul>
<li><a href="../input/Activities__pages_">Activities (pages)</a></li>
<li><a href="../input/Fragments__user_controls_">Fragments (user controls)</a></li>
</ul>
<p>Note that this guide is not a full Android development guide. It will cover the basics though.</p>
<h1 id="bindings">Bindings<a class="headerlink" href="#bindings" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h1>
<p>Unfortunately Android does not have a powerful binding system like XAML does. Therefore it is required to manually synchronize data from the view to the view model and back or to use the binding system in Catel.</p>
<h2 id="binding-properties">Binding properties<a class="headerlink" href="#binding-properties" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<pre class="nocode">{.java data-syntaxhighlighter-params=&quot;brush: java; gutter: false; theme: Confluence&quot; data-theme=&quot;Confluence&quot; style=&quot;brush: java; gutter: false; theme: Confluence&quot;}
[Activity]
public class SecondActivity : Catel.Android.App.Activity
{
    private PersonView _personView;

    protected override void OnCreate(Bundle bundle)
    {
        base.OnCreate(bundle);

        // Set our view from the &quot;main&quot; layout resource
        SetContentView(Resource.Layout.Page_Second);

        _personView = FragmentManager.FindFragmentById&lt;PersonView&gt;(Resource.Id.PersonView);
    }
    protected override void AddBindings(BindingContext bindingContext, IViewModel viewModel)
    {
        var vm = (SecondViewModel) viewModel;

        bindingContext.AddBinding(() =&gt; vm.Title, () =&gt; Title);
        bindingContext.AddBinding(() =&gt; vm.Person, () =&gt; _personView.DataContext);
    }
}
</pre><h2 id="binding-properties-with-events">Binding properties with events<a class="headerlink" href="#binding-properties-with-events" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<pre class="nocode">{.java data-syntaxhighlighter-params=&quot;brush: java; gutter: false; theme: Confluence&quot; data-theme=&quot;Confluence&quot; style=&quot;brush: java; gutter: false; theme: Confluence&quot;}
public class PersonView : Catel.Android.App.Fragment
{
    private EditText _firstNameEditText;
    private EditText _lastNameEditText;
    private TextView _lastNameMirrorTextView ;

    public override View OnCreateView(LayoutInflater inflater, ViewGroup container, Bundle savedInstanceState)
    {
        var inflateResult = inflater.Inflate(Resource.Layout.Fragment_Person, container, false);
        return inflateResult;
    }

    public override void OnResume()
    {
        _firstNameEditText = Activity.FindViewById&lt;EditText&gt;(Resource.Id.firstNameText);
        _lastNameEditText = Activity.FindViewById&lt;EditText&gt;(Resource.Id.lastNameText);
        _lastNameMirrorTextView = Activity.FindViewById&lt;TextView&gt;(Resource.Id.lastNameMirrorTextView);

        base.OnResume();
    }

    protected override void AddBindings(BindingContext bindingContext, IViewModel viewModel)
    {
        var vm = (PersonViewModel)viewModel;

        bindingContext.AddBinding(() =&gt; vm.FirstName, () =&gt; _firstNameEditText.Text).AddTargetEvent(&quot;TextChanged&quot;);
        bindingContext.AddBinding(() =&gt; vm.LastName, () =&gt; _lastNameEditText.Text).AddTargetEvent(&quot;TextChanged&quot;);
        bindingContext.AddBinding(() =&gt; vm.LastName, () =&gt; _lastNameMirrorTextView.Text, BindingMode.OneWay);
    }
}
</pre><h2 id="binding-properties-with-converters">Binding properties with converters<a class="headerlink" href="#binding-properties-with-converters" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<pre class="nocode">{.java data-syntaxhighlighter-params=&quot;brush: java; gutter: false; theme: Confluence&quot; data-theme=&quot;Confluence&quot; style=&quot;brush: java; gutter: false; theme: Confluence&quot;}
protected override void AddBindings(BindingContext bindingContext, IViewModel viewModel)
{
    var vm = (MainViewModel)viewModel;

    bindingContext.AddBindingWithConverter&lt;ClicksConverter&gt;(() =&gt; vm.Counter, () =&gt; _testButton.Text, BindingMode.OneWay);
}
</pre><h2 id="binding-commands">Binding commands<a class="headerlink" href="#binding-commands" title="Permalink to this headline"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
<p> </p>
<pre class="nocode">{.java data-syntaxhighlighter-params=&quot;brush: java; gutter: false; theme: Confluence&quot; data-theme=&quot;Confluence&quot; style=&quot;brush: java; gutter: false; theme: Confluence&quot;}
protected override void AddBindings(BindingContext bindingContext, IViewModel viewModel)
{
    var vm = (MainViewModel)viewModel;

    bindingContext.AddCommandBinding(_testButton, &quot;Click&quot;, vm.RunCommand);
}
</pre>
                    </div>
                </div>
                <footer>
                    <hr />
                    <div role="contentinfo">

                    </div>
                </footer>
            </div>
        </section>
    </div>
    <script src="../../../js/jquery-2.1.1.min.js"></script>
    <script src="../../../js/modernizr-2.8.3.min.js"></script>
    <script src="../../../js/highlight.pack.js"></script>
    <script src="../../../js/theme.js"></script>

</body>
</html>
